<h1>Games#1st</h1>
<p>Find me in app/views/games/1st.html.erb</p>

<%= form_tag omg do %>
	<div class="form-group">
        <%= text_field :my_input, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag %>
    </div>
<% end %>


<%= name_game_test %>
